SNVFI_ROOT="/hpc/pmc_vanboxtel/tools/SNVFI"
BIOVCF_PREFIX="/home/pmc_research/fmanders/Freek_guix-profile/bin/"
TABIX_PREFIX="/home/pmc_research/fmanders/Freek_guix-profile/bin/"
VCFTOOLS_PREFIX="/home/pmc_research/fmanders/Freek_guix-profile/bin/"
R_PREFIX="/home/pmc_research/fmanders/Freek_guix-profile/bin/"
RSCRIPT="/hpc/pmc_vanboxtel/tools/SNVFI/SNVFI_filtering_R.R"
MAX_THREADS=2
SGE="YES"
